<nav class="navbar navbar-default">
  <div class="container-fluid" id=nav-color>
    {{navbar-header}}
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li id="user-nav">{{#link-to "users"}}Users{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li id="nav-one">{{#link-to "plants"}}Add Plant{{/link-to}}</li>
        <div class="dropdown nav-dropdown">
          <button class="btn btn primary dropdown-toggle" type="button" data-toggle="dropdown">View My Garden<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>{{#link-to "plant.view-all"}}All Plants{{/link-to}}</li>
            <li>{{#link-to "plant.annual"}}Annuals{{/link-to}}</li>
            <li>{{#link-to "plant.perennial"}}Perennials{{/link-to}}</li>
            <li>{{#link-to "plant.herb"}}Herbs{{/link-to}}</li>
            <li>{{#link-to "plant.vegetable"}}Vegetables{{/link-to}}</li>
            <li>{{#link-to "plant.fruit"}}Fruits{{/link-to}}</li>
          </ul>
        </div>
        <li>{{#link-to "plant.harvest"}}Harvest{{/link-to}}</li>
          <li id="change-pass">{{#link-to "change-password"}}Change Password{{/link-to}}</li>
          <p id="nav-break" class="nav-break">|</p>
          <li id="sign-out"><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <p id="demo-credentials">Demo credentials with plants pre-loaded (user: demo, password: demo) </p>
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
