{{#if (eq plant.harvest "true")}}
  {{#unless canUpdate}}
    <h4>Category: {{plant.category}}</h4>
    <h4>Plant Name: {{plant.name}}</h4>
    <h4>Quantity: {{plant.quantity}}</h4>
    <button class="btn btn-secondary btn-xs" {{action 'edit'}}>Edit</button>
    <button class="btn btn-danger btn-xs" {{action 'destroyPlant'}}>Delete</button>
    {{else}}
      <select name="category">
        <option class="category" value="">Select a Category</option>
        <option class="category" value=annual>Annual</option>
        <option class="category" value=perennial>Perennial</option>
        <option class="category" value=herb>Herb</option>
        <option class="category" value=vegetable>Vegetable</option>
        <option class="category" value=fruit>Fruit</option>
      </select>
      <p>Name:{{input value=plant.name placeholder="Name"}}</p>
      <p>Quantity:{{input value=plant.quantity type="Number" placeholder="Quantity"}}</p>
      <button class="btn btn-secondary btn-sm" {{action 'updatePlant'}}>Update Plant</button>
  {{/unless}}
{{/if}}
