{{#if (eq plant.category "annual")}}
  <h4>Plant Name: {{plant.name}}</h4>
  <h4>Quantity: {{plant.quantity}}</h4>
  <h4>Care Notes: {{plant.careNotes}}</h4>
  <button class="btn btn-success btn-xs" {{action 'harvest'}}>Harvest</button>
  <button class="btn btn-secondary btn-xs" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger btn-xs" {{action 'destroyPlant'}}>Delete</button>
{{/if}}
